<div class="notification-card">
    <!-- Add your notification card content here -->
    <p>This is the notification card content.</p>
    <p>This is the notification card content.</p>
    <p>This is the notification card content.</p>
    <p>This is the notification card content.</p>
    <p>This is the notification card content.</p>
    <p>This is the notification card content.</p>
    <p>This is the notification card content. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, facilis itaque? Odit libero provident doloremque laborum nihil incidunt error eaque sequi, quibusdam id, illo voluptatum facere repudiandae reprehenderit voluptatem alias?</p>
  </div>
  